<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <img src="/assets/images/404.png" alt="">
      <h1>404 Error !</h1>
      <p>The Page You Requested Could Not Be Found On Our Server</p>
      <p>Go Back To The <a href="javascript:history.go(-1)">Previous Page</a> <strong>OR</strong> Visit Our <a [routerLink] = "['/']">Homepage</a></p>
      <!--<div id="respond">
        <form action="#" method="post">
          <fieldset>
            <legend>Site Search</legend>
            <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;">
            <input type="submit" id="submit" value="Search">
          </fieldset>
        </form>
      </div>-->
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>